<!-- 页尾 -->
<div class="container">
  <footer class="footer clearfix navbar-fixed-bottom">
    <div class="footer-left">
      <div class="left-container">
        <h4>需要什么帮助</h4>
        <ul>
          <li>
            <a href="/career">{{navbar.career}} &nbsp;<span class="glyphicon glyphicon-play"></span></a>
          </li>
          <li>
            <a href="/contact">{{navbar.contact}}&nbsp; <span class="glyphicon glyphicon-play"></span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-right">
      <img src="/images/qrcode.png" alt="" />
      <h4>关注我们</h4>
    </div>
    <div class="visitors"></div>
    <p class="visitorsNum">访客统计</p>
    <div class="block"></div>
  </footer>
</div>
<style media="screen">
    .footer {
        position: relative;
        height: 18em;
        color: #727171;
    }
    .footer-left,.footer-right{
      width: 50%;
      float: left;
      height: 100%;
    }
    .footer-left{
    }
    .left-container{
      width: 50%;
      height: 80%;
      margin:auto;
    }
    .left-container h4{
        margin: 1em 0;
        padding-bottom: 1em;
        padding-top: 4%;
        border-bottom: 2px solid #727171;
    }
    .left-container ul{
      width: 100%;
      padding-left: 80%;
    }
    .left-container a{
      color: #727171;
    }
    .footer-right{
      background-color: #c1e4e9;
    }
    .visitors{
      position: absolute;
      top: 14%;
      left: 50%;
      width: 0;
      height: 0;
    }
    .visitors:before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 90px;
      height: 180px;
      border-radius: 0 90px 90px 0;
      background-color: #fff;
    }
    .visitors:after{
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 90px;
      height: 180px;
      border-radius: 90px 0 0 90px;
      background-color: #c1e4e9;
    }
    .visitorsNum{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      font-size: 24px;
      margin: -1em auto auto -5em;
    }
    .footer-right img{
      display:block;
      width: 12%;
      margin:  6% 30% auto auto;
    }
    .footer-right h4{
      position: absolute;
      top: 38%;
      right: 8%;
      width: 6%;
      font-size: 14px;
      padding-bottom:0.5em;
      text-align: left;
      border-bottom: 1px solid #727171;
    }

    .block{
      position: absolute;
      bottom: 0;
      left: 10%;
      width: 80%;
      height: 1em;
      background-color: #000;
    }
</style>
