<div class="container">
    <ul class="navbar">
        <li><a href="/">首页</a></li>
        <li><a href="/product">我们的产品</a></li>
        <li><a href="/service">我们的服务</a></li>
        <li><a href="/about">关于我们</a></li>
        <li><a href="/marketing">营销网络</a></li>
        <li><a href="/career">职业发展</a></li>
        <li><a href="/contact">联系我们</a></li>
        <li><a href="#" id="search"></a></li>
        <li><a href="#" id="language">CN <span class="angle-down" ></span></a></li>
    </ul>
</div>
