<ul class="navbar">
    <li><a href="/">首页</a></li>
    <li><a href="/product">我们的产品</a></li>
    <li><a href="/service">我们的服务</a></li>
    <li><a href="/about">关于我们</a></li>
    <li><a href="/marketing">营销网络</a></li>
    <li><a href="/career">职业发展</a></li>
    <li><a href="/contact">联系我们</a></li>
    <li><i class="fa fa-search fa-lg" aria-hidden="true"></i></li>
    <li><a href="#" id="language">CN <i class="fa fa-caret-down" aria-hidden="true"></i></a></li>
</ul>
