<!DOCTYPE html>
<html>

<head>
    <title>唐图文创</title>
    <meta name="xrr2016" content="13286904669@163.com">
    <meta name="description" content="唐图文创是一家专注于企业形象设计和产品形象设计的文化创意公司，经年累月躬耕于创意产品研发、组织文化塑造、品牌视觉建设和礼品定制化服务，始终致力于通过高品质、高性价比的品牌创建与提升，不断为产品和组织注入文化底蕴和时代活力，让用户真切感受到与众不同和别出心裁的品牌价值，力求成为文化创意产业的生力军.">
    <meta name="keywords" content="企业形象设计,定制化服务,产品形象设计,文化创意">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="shortcut icon" type="image/png" href="../../public/favicon.png" />
    <link rel="shortcut icon" type="image/png" href="../../public/favicon.png" />
    <!-- <link rel="stylesheet" href="/javascripts/bootstrap.min.css" media="screen" title="no title"> -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" media="screen" title="no title">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    {{> navbar }}
    {{{ body   }}}
    {{> footer }}
    <script src="/javascripts/productList.js" charset="utf-8"></script>
</body>

</html>
