<div class="row">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="">404!</h1>
            <hr class="my-2">
            <p class="lead">
                页面未找到
            </p>
            <a href="/" class="btn btn-pramary">返回首页</a>
        </div>
    </div>
</div>
