<div class="container">
    <div class="index-banner">
        <div class="mask"></div>
        <div class="slogan">
            <img src="/images/logo.png" alt="" />
            <h2>千变万化</h2>
            <h2>永远寻找最好的一块拼图给客户</h2>
        </div>
        <span class="fa fa-angle-double-down fa-5x double-down" id="double-down" aria-hidden="true"></span>
    </div>
</div>
<div class="container">
    <div class="index-about clearfix">
        <div class="about-left">
            <div class="left-container">
                <p>
                    <i class="fa fa-quote-left fa-1x" aria-hidden="true"></i>
                    <br>
                    <br> 唐图文创是一家为企业提供产品品牌化研发与设计的文化创意公司
                    <br> 力求成为中国文化创意产业的生力军
                    <br>
                    <br>
                    <i class="fa fa-quote-right fa-1x" aria-hidden="true"></i>
                </p>
                <a href="/about">关于我们</a>
            </div>
        </div>
        <div class="about-right"></div>
    </div>
</div>
