<!-- 头部背景图 -->
<div class="container">
    <div class="index-banner">
        <div class="mask"></div>
        <img src="/images/banner.png" alt="" class="banner" />
        <div class="slogan">
            <img src="/images/logo.png" alt="" class="img-responsive" />
            <h3>千变万化</h3>
            <h3>永远寻找最好的一块拼图给客户</h3>
        </div>
        <span class="fa fa-angle-double-down fa-5x double-down" id="double-down" aria-hidden="true"></span>
    </div>
</div>
<!-- 关于我们 -->
<div class="container">
    <div class="index-about clearfix">
        <div class="about-left">
            <div class="left-container">
                <p>
                    <i class="fa fa-quote-left fa-1x" aria-hidden="true"></i>
                    <br>
                    <br> 唐图文创是一家为企业提供产品品牌化研发与设计的文化创意公司
                    <br> 力求成为中国文化创意产业的生力军
                    <br>
                    <br>
                    <i class="fa fa-quote-right fa-1x" aria-hidden="true"></i>
                </p>
                <a href="/about" class="about-button">{{navbar.about}}</a>
            </div>
        </div>
        <div class="about-right"></div>
    </div>
</div>
<!-- 我们的产品 -->
<div class="container">
    <div class="index-product clearfix">
        <div class="product-left">
            <ul class="product-control">
                <li class="control-item active" data-index="0"></li>
                <li class="control-item" data-index="1"></li>
                <li class="control-item" data-index="2"></li>
                <li class="control-item" data-index="3"></li>
            </ul>
            <ul class="product-images">
                <li class="image-item"><img src="/images/product.png" style="opacity:1" alt="" /></li>
                <li class="image-item"><img src="/images/product.png" style="opacity:1" alt="" /></li>
                <li class="image-item"><img src="/images/product.png" style="opacity:1" alt="" /></li>
                <li class="image-item"><img src="/images/product.png" style="opacity:1" alt="" /></li>
            </ul>
        </div>

        <div class="product-right">
            <p>
                “唐图文化创意有限公司” <br> 是一家专注于企业CIS设计及创意产品设计开发的设计公司
            </p>
            <a href="/product" class="product-button">{{navbar.products}}</a>
        </div>
    </div>
</div>
<!-- 我们的服务 -->
<div class="container">
    <div class="index-service">
        <img src="/images/service.jpg" alt="" />
        <div class="service-left">
            <a href="/service" class="service-button">{{navbar.service}}</a>
            <p>
                价值观：CPQ（creative；professional； quality）
                <br> 文化：share（profit；knowledge；feeling）
            </p>
        </div>
    </div>
</div>
<!-- 营销网络 -->
<div class="container">
    <div class="index-marketing">
        <img src="/images/marketing.jpg" alt="" />
        <div class="marketing-container">
            <a href="/marketing" class="marketing-button">{{navbar.marketing}}</a>
            <p>
                “唐图文化创意有限公司”
                <br> 是一家专注于企业CIS设计及创意产品设计开发的设计公司
            </p>
        </div>
    </div>
</div>
<script type="text/javascript">
    window.onload = function() {
        const images = Array.from($$('.image-item')),
            control = Array.from($$('.control-item'))
        control.forEach(function(el) {
            let self = el
            el.addEventListener('click', function() {
                clearInterval(timer)
                control.map(function(el) {
                    el.className = ''
                })
                self.className += "active"
                let index = self.dataset.index
                for (let i = 0; i < images.length; i++) {
                    images[i].childNodes[0].style.opacity = '0'
                }
                images[index].childNodes[0].style.opacity = '1'
            })
        })
        let timer = setInterval(function() {
            let index = Math.floor(Math.random() * control.length)
            for (let i = 0; i < control.length; i++) {
                control[i].className = ''
                images[i].childNodes[0].style.opacity = '0'
            }
            control[index].className += 'active'
            images[index].childNodes[0].style.opacity = '1'
        }, 2000)
    }

    function $$(el) {
        return document.querySelectorAll(el)
    }
</script>
<script type="text/javascript">
    const down = document.getElementById('double-down')
    let t = 1000
    let long = 1200
    down.addEventListener('click', function() {
        let scrollTimer = setInterval(function() {
            document.body.scrollTop += 10
            document.documentElement.scrollTop += 10
            let scroolTop = document.body.scrollTop || document.documentElement.scrollTop

            console.log(scroolTop);
            if (scroolTop === long) {
                clearInterval(scrollTimer)
            }
        }, t / 1000)
    })
</script>
