html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
    font: 14px Microsoft Yahei;
}

a {
    text-decoration: none;
    color: #f4f4f4;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}

ul {
    list-style: none;
}

.fa {
    color: #f4f4f4;
}

.container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}


/*导航栏*/

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 1em;
    padding-left: 10em;
    font-size: 16px;
    z-index: 100;
}

.navbar li {
    display: inline-block;
    margin: 0 0.5em;
}

.navbar li a {
    display: block;
    line-height: 100%;
    padding: 0.8em 1.2em;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    color: #f4f4f4;
    border: 2px solid transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navbar li:hover a {
    border: 2px solid orange;
}

#language {
    border: 2px solid transparent;
}


/*主页面*/


/*index-banner*/

.index-banner {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner {
    width: 100%;
}

.slogan {
    position: absolute;
    top: 40em;
    left: 6em;
    z-index: 10;
    color: #fff;
}

.slogan img {
    width: 20em;
}

.slogan h3 {
    padding-left: 1em;
    font-weight: normal;
}

.double-down {
    position: absolute;
    display: block;
    z-index: 10;
    bottom: 2em;
    cursor: pointer;
    left: 50%;
    -webkit-animation: blink 1.5s linear infinite;
    animation: blink 1.5s linear infinite;
    /*transition: all .2s ease;*/
}


/*.double-down:hover{
  transform: scale(1.1);
}*/

@keyframes blink {
    0% {
        bottom: 2.5em;
        width: 0px;
        opacity: 0;
    }
    100% {
        bottom: 2em;
        width: 45px;
        opacity: 1;
    }
}


/*index-about*/

.index-about .about-left, .index-about .about-right {
    position: relative;
    width: 50%;
    height: 40em;
    float: left;
}

.index-about .about-left {
    text-align: left;
    color: #fed90b;
}

.about-left .left-container {
    width: 60%;
    margin: 10em auto 0em auto;
    text-align: left;
}

.left-container p {
    font-size: 1.3em;
}

.about-left .fa {
    color: #fed90b;
}

.about-left .fa-quote-right {
    text-indent: 28em;
}

.about-button, .product-button, .service-button,.marketing-button {
    position: relative;
    display: block;
    top: 0em;
    left: 0em;
    margin-top: 3em;
    width: 10em;
    height: 3em;
    line-height: 3em;
    background-color: #f3d90b;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    z-index: 10;
}

.about-button:before {
    position: absolute;
    bottom: -0.5em;
    left: -1em;
    content: "";
    width: 12em;
    height: 4em;
    padding: 1em 2em;
    border: 2px solid #f3d90b;
}

.index-about .about-right {
    background: url('/images/about.png');
    background-size: cover;
}


/*index-product*/

.index-product {
    width: 100%;
}

.product-left, .product-right {
    position: relative;
    float: left;
}

.product-left {
    width: 70%;
}

.product-right {
    width: 30%;
    height: 42.5em;
}

.product-control {
    position: absolute;
    bottom: 0.5em;
    left: 1em;
    text-align: center;
    cursor: pointer;
    z-index: 10;
}

.product-control li {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 1em;
    border-radius: 50%;
    border: 0.5em solid #999;
    background: #999;
}

.product-control .active {
    position: relative;
    border-radius: 50%;
    border: 0.5em solid orange;
    background: orange;
}

.active::before {
    position: absolute;
    bottom: -1.0em;
    left: -1.0em;
    content: "";
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 1px solid orange;
}

.product-images {
    position: relative;
    width: 100%;
    height: 42.5em;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.image-item {
    position: absolute;
    left: 0;
    top: 0;
}

.image-item img {
    width: 100%;
    transition: all 0.5s ease;
}

.product-right {
    color: #00a381;
}

.product-right p {
    width: 100%;
    text-align: center;
    margin: 12em auto 3em auto;
    text-indent: 14em;
    font-size: 1.3em;
}

.product-button {
    margin: 4em auto auto auto;
    -webkit-transform: translate(4em, 1em);
    transform: translate(4em, 1em);
    background-color: #00a381;
}

.product-button:before {
    position: absolute;
    bottom: -0.5em;
    left: -1em;
    content: "";
    width: 12em;
    height: 4em;
    padding: 1em 2em;
    border: 2px solid #00a381;
}


/*index-service*/

.index-service {
}
.service-left .mask{
  background-color: rgba(255, 255 , 255, 0.4);
}
.service-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 43%;
    height: 100%;
}
.service-left p{
  width: 60%;
  margin: 1em auto;
  color: #f8b62d;
  font-size: 18px;
  z-index: 10;
}
.service-button{
  background-color: #f8b62d;
  margin: 20em auto 4em auto;
  -webkit-transform: translate(-8em,0em);
  transform: translate(-8em,0em);
}
.service-button:before{
  position: absolute;
  bottom: -0.6em;
  left: -1em;
  content: "";
  width: 12em;
  height: 4.2em;
  padding: 1em 2em;
  border: 2px solid #F8B62D;
}
.index-service img {
    width: 100%;
}
/*index-marketing*/
.index-marketing{
  color: #fff;
}
.index-marketing img{
  width: 100%;
}
.marketing-container{
  position: absolute;
  width: 40%;
  top: 0;
  left: 0;
  padding: 1em;
}
.marketing-button{
  background-color: #fff;
  color: #ddd;
  margin: 14em auto 2em auto;
  transform: translate(-9.2em,1em);
}
.marketing-button:before{
  position: absolute;
  bottom: -0.5em;
  left: -1em;
  content: "";
  width: 12em;
  height: 4em;
  padding: 1em 2em;
  border: 2px solid #fff;
}
.marketing-container p{
  width: 90%;
  margin:8em auto auto 7em;
}
