<!-- 关于我们 -->
<div class="container about">
  <img src="/images/about/about.jpg" alt="" class="background" />
  <img src="/images/logo.png" alt="" class="logo" />
  <h1>关于我们</h1>
  <p>千变万化&nbsp;永远寻找最好的一块拼图给客户</p>
</div>
<!-- 我们的愿景 -->
<div class="container wish">
  <img src="/images/about/wish.jpg" alt="" class="background" />
</div>
<!-- 我们的文化 -->
<div class="container culture">
  <img src="/images/about/culture.jpg" alt="" class="background" />
</div>
<style media="screen">
  .about,.wish,.culture{}
  .background{
    width: 100%;
  }
</style>
