<!-- 关于我们 -->
<div class="container about">
    <img src="/images/about/about.jpg" alt="" class="background" />
    <img src="/images/logo.png" alt="" class="logo" />
    <h1>关于我们</h1>
    <p>千变万化<br>永远寻找最好的一块拼图给客户</p>
</div>
<!-- 我们的愿景 -->
<div class="container wish">
    <img src="/images/about/wish.jpg" alt="" class="background" />
    <h2 class="wish-slogan">我们的愿景</h2>
    <h5 class="wish-description">成为做最有创意的 <span class="description-right">专业定制设计公司</span></h5>
    <p class="wish-content">
        唐图文化创意有限公司”是一家专注于企业定制设计及创意产品设计开发的设计公司 <br> 在“品质卓越，品牌至上”的理念下，我们优秀的创意设计团队致力于自身产品和客户品牌的价值提升 <br> 为客户设计和引进优质产品，提升品牌知名度和文化内涵，同时为企业带来最具性价比的品牌文化提升服务
    </p>
</div>
<!-- 我们的文化 -->
<div class="container culture">
    <img src="/images/about/culture.jpg" alt="" class="background" />
    <h2 class="culture-slogan">我们的文化</h2>
    <h5 class="culture-description">唐图的形象个, <span class="description-right">千变万化</span></h5>
    <p class="culture-content">
        唐图的形象内涵是永远找寻最好的一块拼图奉献给客户。客户总是可以在唐图找到自己所需要的产品或服务。在这里我们恩能够为客户提供无尽的创意和为客户定制他所需求的专属服务
        <br>
        <br> 唐图文创与众不同的品牌价值使唐图始终致力于通过高品质、高性价比的品牌创建与提,为企业打造精品的企业形象识别系统,创造精致的企业形象识别应用，让用户真切感受到与众不同、无处不在的品牌价值
    </p>
</div>
<style media="screen">
    .about,
    .wish,
    .culture {
      color: #000;
    }
    .about {
        color: #fff;
    }

    .background {
        width: 100%;
    }

    .logo {
        position: absolute;
        display: block;
        width: 8%;
        top: 1%;
        left: 1%;
    }

    .about h1 {
        position: absolute;
        width: 20%;
        top: 40%;
        left: 8%;
        font-size: 60px;
    }

    .about p {
        position: absolute;
        width: 20%;
        top: 59%;
        left: 8%;
        font-size: 24px;
    }
    .wish-slogan,.culture-slogan{
      position: absolute;
      top: 22%;
      left: 12%;
      width: 16%;
      font-size: 40px;
      padding: 0.6em 0.8em;
      text-align: center;
      font-weight: 900;
      border: 4px solid orange;
    }
    .wish-description,.culture-description{
      position: absolute;
      width: 30%;
      top: 44%;
      left: 12%;
      font-size: 28px;
      font-weight: normal;
    }
    .description-right{
      background-color: orange;
    }
    .wish-content{
      line-height: 200%;
    }
    .culture-content,.wish-content{
      position: absolute;
      width: 80%;
      top: 58%;
      left: 12%;
      font-size: 28px;
      font-weight: normal;
      word-spacing: 1em;
      letter-spacing: 1px;
    }
    .culture-slogan{
      top: 13%;
    }
    .culture-description{
      top: 36%;
    }
    .culture-content{
      top: 42%;
      width: 77%;
    }
</style>
