<div class="container">
  <div class="career">
    
  </div>
  <div class="joinus">

  </div>
</div>
<div class="container">
  <div class="contact">

  </div>
  <div class="qrcode-container">

  </div>
</div>
