<img src="/images/logo2.png" alt="唐图文创"  class="logo"/>
<div class="container">
    <div class="location">
      <select class="location-select">
      <option value="珠海">珠海</option>
      <option value="广州">广州</option>
      <option value="深圳">深圳</option>
      <option value="中山">中山</option>
      <p class="description">
        广东省珠海市唐家湾港湾大道民营科技园主楼407-408室 <br> 407-408 room, main building, private science and Technology Park, Zhuhai City, Guangdong Province <br> 0756-3622280 | 0756-3622290
      </p>
    </select>
    </div>
    <div class="baidu-map">
      <iframe src="http://map.baidu.com/" width="wo" height=""></iframe>
    </div>
</div>
<style media="screen">
  .logo{
    position: absolute;
    width: 10%;
    top: 2%;
    left: 2%;
  }
    .location,
    .baidu-map {
        margin-top: 4%;
    }

    .location {
        width: 45%;
        float: left;
    }
</style>
<script type="text/javascript">

</script>
